<h1>All Schools</h1>

<% @schools.each do |school| %>
  <div class="school">
    <h2><%= school.name %></h2>

    <% school.students.each do |student| %>
      <div class="student">
        <h3><%= student.name %></h3>
        <p>Student Number: <%= student.student_number %></p>
        <p><%= image_tag student.image %></p>
      </div>
    <% end %>
  </div>
<% end %>
